*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s;
}

body{
    background-color: #252B42;
    color: #fff;
}

.container{
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

header a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header-right{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.mobile{
    display: none;
}


.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.main-sarlavha, .matn{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: center;
    max-width: 324px;
}

.matn{
    font-size: 20px;
    line-height: 30px;
}

.wrapper-btns{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.tugma{
    width: 100%;
    background-color: #23A6F0;
    padding: 10px 36px;
    border-radius: 37px;
    border-color: transparent;
    color: #fff;
}

.tug2{
    background-color: transparent;
    border: 2px solid #fff;
}

.hero-rasm{
    width: 100%;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}



main{
    position: relative;
}


.wrapper-position{
    position: absolute;
    z-index: -1;
    top: 70%;
    width: 100%;
}
.rasm{
    width: 100%;
}

.position2{
    position: absolute;
    top: 10%;
    left: -85%;
}

.matn{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}


.strategy{
    margin-top: 6rem;
}



.strategy-1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.4rem;
}

.strategy-left{
    width: 15%;
    color: #23A6F0;
}

.strategy-right{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2rem;
}

.strategy-h3{
    font-size: 1rem;
    text-align: left;
}
.strategy-right .matn{
    width: 100%;
    text-align: left;
}


.client{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2.5rem;
    margin-top: 3rem;
}

.client-img{
    border-radius: 50%;
    width: 95px;
    height: 95px;
}

.client .matn{
    color: #737373;
    text-align: center;
}

.client h2{
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    font-weight: 700;
}

.clients{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.play{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #252B42;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    max-width: 400px;
    width: 100%;
    max-height: 80px;
}

.name{
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0.3rem;
}
.play-right{
    text-align: left;
}

.play-right .matn{
    margin-bottom: 0;
}
.wrapper-browsers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mat{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-1{
    background-color: #fff;
    padding: 50px 45px;
    border-radius: 10px;
}
.kok{
    color: #23A6F0;
    font-size: 24px;
    font-weight: 700;
}
.card-1 .matn{
    color: #737373;
    text-align: left;
    margin-top: 1rem;
}

.card-sar{
    font-size: 40px;
    font-weight: 700;
    color: #23A6F0;
}

.money{
    color: #23A6F0;
}
.money span{
    font-weight: 700;
}

.span2{
    font-weight: 600;
    font-size: 14px;
    color: #8EC2F2;
}
.wrap-num{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.card-right .tugma{
    padding: 10px 45px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}


.pricing .main-sarlavha{
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}
.pricing .matn{
    margin-bottom: 3rem;
}
.wrapper-cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-sarlavha{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.matn{
    margin-bottom: 2rem;
}

.map .main-sarlavha, .matn{
    text-align: left;
}

.map-rasm{
    width: 100%;
    margin-top: 4rem;
}

.quote{
    background-color: #fff;
    color: #252B42;
}

label{
    font-size: 14px;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 2.5rem;
}

input, select{
    width: 100%;
    padding: 11px;
    border-radius: 5px;
    border: 2px solid #BDBDBD;
    text-align: left;
    color: #252B42;
    outline: none;
}

form .tugma{
    padding: 10px 45px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.footer-sar{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

li{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1rem;
}
.wrapper-footer{
    padding-bottom: 2rem;
}
li .matn{
    margin: 0;
}
.madeby{
    background-color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.madeby .matn{
    color: #252B42;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}
.madeby .matn:hover{
    border-bottom: 2px solid #252B42;
}
#header1{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #252B42;
    border-bottom: 1px solid #8EC2F2;
}

#header2{
    display: none;
}

.active{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #252B42;
    border-left: 2px solid #23A6F0;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: fixed;
}

.chil{
    text-decoration: none;
    color: #fff;
}

.map{
    margin-top: 5rem;
}

.pricing{
    margin-top: 5rem;
}

button{
    cursor: pointer;
}

.strategy, .pricing, .download, .map, .quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-sarlavha{
    text-align: center;
}

.secondary-sarlavha{
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    .hero{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-sarlavha{
        font-size: 58px;
        max-width: 100%;
        margin: 0;
    }
    .matn{
        margin: 0;
        max-width: 500px;
    }
    .hero-left{
        width: 45%;
        gap: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hero-footer{
        width: 45%;
    }
    .wrapper-btns{
        flex-direction: row;
        gap: 1rem;
    }
    .wrapper-strategy{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .strategy-1{
        width: 32%;
        border: 2px solid #737373;
    }
    .secondary-sarlavha{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        max-width: 500px;
    }
    .matn{
        text-align: center;
    }
    .strategy, .clients, .download, .pricing, .map{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .client{
        width: 70%;
    }
    .wrapper-browsers{
        max-width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .wrapper-cards{
        flex-direction: row;
        justify-content: space-between;
    }
    .map{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6rem;
        margin-top: 4rem;
    }
    .map-left{
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .map-right{
        width: 45%;
    }
    .quote-left{
        width: 100%;
    }
    .quote{
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    form .main-sarlavha{
        font-size: 24px;
        text-align: center;
    }
    .wrapper-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
    }
    li .matn{
        text-align: left;
    }
    .play{
        gap: 1rem;
    }

    .wrapper-quote{
        background-color: white;
    }
    
    #header1{
        display: none;
    }
    #header2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #252B42;
        z-index: 10;
    }

    .header-nav{
        display: flex;
        gap: 1rem;
    }
    .nav-child{
        font-size: 14px;
        font-weight: 600;
    }
    .tugg{
        padding: 15px 25px;
        background-color: #23A6F0;
        border-color: transparent;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
    }
    .end{
        display: flex;
        gap: 1rem;
    }
    .hero{
        padding-top: 4rem;
    }
    .pricing, .download, .map, .quote, .client{
        margin-top: 6rem;
    }
    .pricing{
        margin-top: 10rem;
    }
    .map{
        margin-bottom: 7rem;
    }
    

}